<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>databank</param-name>
        <param-value>Catan.database.UserDAO</param-value>
    </context-param>
    <listener>
        <listener-class>Catan.database.Init</listener-class>
    </listener>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Catan.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Catan.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailServlet</servlet-name>
        <servlet-class>Catan.EmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeUserActive</servlet-name>
        <servlet-class>Catan.MakeUserActive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinGameServlet</servlet-name>
        <servlet-class>Catan.JoinGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Catan.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeGameServlet</servlet-name>
        <servlet-class>Catan.MakeGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <description>Multiple packages, separated by semicolon(;), can be specified in param-value</description>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>Ajax</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LeavegameServlet</servlet-name>
        <servlet-class>Catan.LeavegameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartGameServlet</servlet-name>
        <servlet-class>Catan.StartGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DestroyGameServlet</servlet-name>
        <servlet-class>Catan.DestroyGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeLangServlet</servlet-name>
        <servlet-class>Catan.ChangeLangServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockUser</servlet-name>
        <servlet-class>Catan.BlockUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnBlockUser</servlet-name>
        <servlet-class>Catan.UnBlockUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraphServlet</servlet-name>
        <servlet-class>Catan.GraphServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseColorServlet</servlet-name>
        <servlet-class>Catan.ChooseColorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailServlet</servlet-name>
        <url-pattern>/EmailServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeUserActive</servlet-name>
        <url-pattern>/MakeUserActive.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinGameServlet</servlet-name>
        <url-pattern>/joingame.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeGameServlet</servlet-name>
        <url-pattern>/makegame.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/ajax/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeavegameServlet</servlet-name>
        <url-pattern>/leavegame.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartGameServlet</servlet-name>
        <url-pattern>/startgame.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DestroyGameServlet</servlet-name>
        <url-pattern>/destroygame.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeLangServlet</servlet-name>
        <url-pattern>/ChangeLangServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockUser</servlet-name>
        <url-pattern>/BlockUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnBlockUser</servlet-name>
        <url-pattern>/UnBlockUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraphServlet</servlet-name>
        <url-pattern>/GraphServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseColorServlet</servlet-name>
        <url-pattern>/choosecolor.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
